<mat-card>
    <h1>Add New Task</h1>
    <!-- {{task | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="addTaskFormSubmit()">
                        <mat-form-field class="col-md-12" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required [(ngModel)]="task.title" autofocus type="text" name="title" matInput placeholder="Enter here.........." />
                        </mat-form-field>

                        <mat-form-field class="col-md-12" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea required [(ngModel)]="task.description" type="text" name="title" rows="15" matInput placeholder="Enter Task Description here........."></textarea>
                        </mat-form-field>
                        <mat-form-field class="col-md-6" appearance="outline">
                            <mat-label>Due date</mat-label>

                            <input required [(ngModel)]="task.dueDate" autofocus type="date" name="duedate" matInput  />
                        </mat-form-field>
                        <mat-form-field class="col-md-6" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="task.status" name="status">
                              <mat-option *ngFor="let status of taskStatus | keyvalue" [value]="status.value">
                                {{ status.value }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Add</button>
                            <button type="reset" class="ml20" mat-raised-button color="accent">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>